.Edit-Buttons {
  display: flex;
}

.Edit-Button {
  cursor: pointer;
  width: fit-content;
  margin: 0 5px 10px;
  padding: 6px 12px;
  border-radius: 4px;
  color: white;
  font-weight: 700;
  outline: none;
  background: rgb(75 122 162);
}

.Edit-Button:hover {
  opacity: 0.7;
}

.Edit-Button-Cancel {
  cursor: pointer;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  font-size: 30px;
  opacity: 0.8;
  outline: none;
  color: #989aa2;
}

.Edit-Button-Cancel:hover {
  opacity: 1;
}
