
.Dock {
  background: rgb(255 255 245 / 27%);
  height: 70px;
  padding: 10px 15px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.2);
}

.ant-btn-primary, .ant-btn-primary:hover, .ant-btn-primary:focus {
    border-color: #002244f2 !important;
    background: #002244f2 !important;
    border-bottom: 0px;
}

.ant-modal-body, .ant-modal-footer {
    background: #00224445 !important;
    border:0px;
}

.ant-modal-header {
    background: #002244 !important;
}

.ant-modal-title, .ant-modal-close {
    color: #fafafa !important;
}
